---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <div class="hero-body">
      <p class="title">Sean Collins</p>
      <p class="subtitle">Software Engineering Manager, Automotive Enthusiast, Fake Photographer, and Metalhead</p>
    </div>
  </section>
</BaseLayout>