---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
        <ul>
            <li><strong>{SITE_TITLE}</strong></li>
        </ul>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
